[Desktop Entry]
Encoding=UTF-8
Name=Link para Um Sonho de Liberdade (1994) - IMDb
Type=Link
URL=ttps://www.imdb.com/title/tt0111161/
Icon=text-html
Name[pt_BR]=Shawshank Redemption, the 1994
